<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A simple tool to count colonies in a petri dish. Upload your image, and find the results.">
  <meta name="author" content="David Chun">
  <title>Dot Counter</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
	<style>
	.w-button {
		display:inline-block;
		padding:9px 15px;
		background-color:#3898EC;
		color:white;
		border:0;
		line-height:inherit;
		text-decoration:none;
		cursor:pointer;
		border-radius:0
	}
	input.w-button{
		-webkit-appearance:button
	}
	.call-to-action {
		margin-top: 26px;
		padding: 13px 23px;
		border-radius: 5px;
		background-color: #fa4848;
		font-family: 'Sanfranciscodisplay semibold webfont', sans-serif;
		color: #fff;
		font-size: 16px;
	}
	</style>
</head>
<body>
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="https://boopis.com">Dot Counter by Boopis Media</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="page-scroll" href="https://www.patreon.com/dchun/membership">Support</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container" style="margin-top: 40px;">

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
			<h2 class="section-heading">Disclaimer</h2>
				<hr class="light">
				<p class="text-faded">Boopis Media does not guarantee the availability or reliability of this tool. This tool is merely available for demonstration purposes and is available to be used free of charge for non-commercial purposes. If you would like to support the maintenance of this app you can do so here: <a href="http://patreon.com/dchun">Patreon</a>.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
			<h2 class="section-heading">Getting Started</h2>
				<hr class="light">
				<p class="text-faded">To count the dots on a petri dish, an uploaded image will be resized to 1000px in width maintaining aspect ratio relative to height. Two results will be shown. Highlighted dots that have been run through a Gaussian filter, Canny edge detector with threshold of low=50 high=150, and the original image.</p>
				<p class="text-faded">We can later add input for threshold and canny parameters to fine tune the conditions of the image to set for your needs.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
			<h2 class="section-heading">Count Your Colonies</h2>
				<hr class="light">
				<form method="post" action="/upload" enctype="multipart/form-data">
					<div class="form-group">
						<label for="exampleInputFile">Upload Image</label>
						<input type="file" id="image" name="image">
						<p class="help-block">Upload an image with the petri dish borders close to the edge of the width of the image. The fewer irregularities in the background, the better the result.</p>
					</div>
  				<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h2 class="section-heading">Find Out More</h2>
				<h3>Need support? Want something custom? Become a patron and gain access to support</h3>
				<a class="w-button call-to-action" data-ix="call-to-action-heartbeats" href="https://www.patreon.com/dchun/membership" style="transition: transform 300ms; transform: scaleX(1.1) scaleY(1.1) scaleZ(1);">Support</a>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
			<h2 class="section-heading">Examples</h2>
				<hr class="light">
				<p class="text-faded">Below are random images of petri dishes with colonies found on the internet. Accuracy varies with the quality of the image and the environmental conditions.</p>

				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">

				    <div class="item active">
				      <img src="/image/4.png" alt="...">
				      <div class="carousel-caption">
				        <h3>143 dots</h3>
				      </div>
				    </div>

				    <div class="item">
				      <img src="/image/3.png" alt="...">
				      <div class="carousel-caption">
				        <h3>49 dots</h3>
				      </div>
				    </div>

				    <div class="item">
				      <img src="/image/1.png" alt="...">
				      <div class="carousel-caption">
				        <h3>511 dots</h3>
				      </div>
				    </div>

				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>

				</div>

			</div>
		</div>

	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/56f547608c821b80677a5fcb/js/webflow.740e9446d.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43099516-1', 'auto');
  ga('send', 'pageview');

	</script>
</body>
</html>